<!DOCTYPE html>
<html lang="en"  data-bs-theme="dark">
<head>
      <%- include('./partials/head') %>
    <title>Home</title>
</head>
<body>
    <%- include('./partials/nav') %>
   
 
   <div class="container mt-3 ">
    <div class="row row-col-4">
    <% blogs.forEach(blog => { %>
     <div class="col">
      <div class="card col mt-3" style="width: 18rem; height: 19rem;" class="border border-white">
        <img src="<%= blog.coverImageURL %>" class="card-img-top" style="height: 10rem; width: 100%;" >
        <div class="card-body">
          <h5 class="card-title"><%= blog.title %></h5>
          <a href="/blog/<%= blog._id%>" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
     
    <% }) %>

  </div>
   </div>

   
      <%- include('./partials/script') %>
   
    
</body>
</html>